@charset "UTF-8";

@import
  url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@import
  url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
  ;

/* html{ */
/*   width:100vw;  */
/* /*   height: 100vh; */
/* } */
/* iframe{ */
/*   width:100vw;  */
/*   height: 100vh; */
/* } */
body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 0 0 10px;
}

.calendar {
  display: block;
  overflow: visible;
  /*   width:100vw;  */
  /*   height: 90vh; */
}

/* #logo,  */
/* #hotel-name { */
/*   display: inline-block; */
/*   margin: 10px; */
/*   font-family: 'Bangers', cursive; */
/* } */

/* #booking { */
/*   width: 100%; */
/*   height: auto; */
/*   margin-bottom: 10px; */
/* } */

/* #booking > div { */
/*   display: inline-block; */
/*   width: 12%; */
/*   margin: 0; */
/*   padding: 1em 0 1em 2em; */
/*   background-color: #333;   */
/*   color: #fff;   */
/*   min-width: 100px; */
/* } */

/* #booking > div > i { */
/*   padding-left: 15px; */
/* } */

/* .date-picker-container { */
/*   display: flex; */
/* } */
.date-picker {
  margin: 10px;
}

tr, td, th {
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
}

th {
  background: var(--button-bg-color);
  color: var(--button-color);
  font-style: italic;
}

table {
  border-collapse: collapse;
  /*   margin: 10px auto; */
}

:root { 
  --button-color: #F3BDA1; 
  --button-bg-color: #02475E; 
  --button-hover-bg-color: #687980;
}

button, 
input[type="submit"],
input[type="reset"] {
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
  background: var(--button-bg-color);
  color: var(--button-color);
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  display: inline-block;
  width: auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px
    rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: 0.5s; 
/*   --button-color: #F3BDA1;  */
/*   --button-bg-color: #02475E;  */
/*   --button-hover-bg-color: #687980; */
  display: inline-block;
}

button:active, 
button:hover, 
button:focus,
input[type="submit"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus  {
  background: var(--button-hover-bg-color);
  outline: 0;
}


.customer  
input:not([type="submit"]):not([type="reset"]):not([type="number"]):not([type="date"]),
.customer 
input:not([type="submit"]):not([type="reset"]):not([type="number"]):not([type="date"]):focus  {
  outline: 0;
  border-width: 0 0 1px;
  border-color:#02475E;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1em;
}

.stay
input:not([type="submit"]):not([type="reset"]):not([type="number"]):not([type="date"]),
.stay
input:not([type="submit"]):not([type="reset"]):not([type="number"]):not([type="date"]):focus  {
  outline: 0;
  border: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1em;
}

input[type='date'] {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1em;
}


.discouraged {
  --button-color: #02475E; 
  --button-bg-color: #687980; 
  --button-hover-bg-color: #687980;
  
}
#buttons {
  display: flex;
  padding: 5px 0 5px 100px;

}
#buttons > button,
#buttons > input {
  margin: 0 .5em;
}

ul{
 list-style:none;
}

#page-scope-container,
fieldset
 {
  display: flex;
  flex-flow: column;
}

label {
  min-width: 160px;
  display: inline-block;
}
